.apps-store {
  margin-top: 255px;
  color: $white;
  background-color: $grey;
}

.apps-store__button {
  display: block;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding: 17px 20px;
  border: 3px solid $white;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: inherit;
}

.apps-store__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.apps-store__availability {
  display: block;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
}
