.checkbox {
  position: relative;
  margin-bottom: 43px;

  @media (min-width: $desktop-width) {
    width: 30%;
    box-sizing: border-box;

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 2;
    }

    &:nth-child(4) {
      order: 5;
    }

    &:nth-child(5) {
      order: 3;
    }

    &:nth-child(6) {
      order: 6;
    }
  }
}

.checkbox__label {
  display: block;
  font-size: 18px;
  line-height: 30px;
  text-align: left;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 31px;
    border: 2px solid $grey-middle;
    background-color: $white;
  }

  &:hover::before {
    border-color: $grey;
  }

  &:active::before,
  &:focus::before {
    border-color: $pink;
  }

  @media (min-width: $tablet-width) {
    &::before {
      margin-right: 20px;
    }
  }
}

.checkbox__control {
  &:checked + .checkbox__label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 21px;
    border: 3px solid $pink;
    transform: rotate(45deg);
    border-left: transparent;
    border-top: transparent;
  }
}
