.competition-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  border: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.competition-form__item {
  padding: 29px 0 26px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 620px;
    box-sizing: border-box;
    padding: 33px 58px 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
  }
}

.competition-form__title {
  padding: 9px 30px 42px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: inherit;
  color: $pink;

  @media (min-width: $tablet-width) {
    min-width: 260px;
    box-sizing: border-box;
    padding: 3px 32px;
    margin-left: 25%;
  }

  @media (min-width: $desktop-width) {
    padding: 0 32px;
    margin-left: 35%;
  }

  &--contact {
    display: none;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -13px;
      left: 22px;
      display: block;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      left: 9px;
    }
  }

  &--system {
    padding-bottom: 14px;
    padding-top: 39px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -48px;
      min-width: 390px;
      padding-bottom: 5px;
      right: 114px;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      top: -4px;
      left: 19px;
      padding-top: 0;
      padding-bottom: 0;
      margin: 0;
    }
  }

  &--emotion {
    padding-top: 39px;
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: -13px;
      left: 23px;
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      left: 10px;
    }
  }

  &--stupid {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -11px;
      right: 91px;
      min-width: 370px;
      margin-left: 8%;
      background-color: $white;
    }

    @media (min-width: $desktop-width) {
      right: 250px;
    }
  }
}

.competition-form__sup {
  color: $pink;
}

.competition-form__list {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.competition-form__user {
  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 10px;
    order: -1;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-right: 35px;
    padding-top: 15px;
    margin-right: 35px;
    box-sizing: border-box;
  }
}

.competition-form__wrapper-color {
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }

  &--achievements {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
    }
  }

  &--system {
    @media (min-width: $tablet-width) {
      order: 0;
    }
  }
}

.competition-form__achievements {
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 69px;
    padding-top: 60px;
    border: 2px solid $grey-light;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 53px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 70px;
  }
}

.competition-form__contacts {
  padding-bottom: 10px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    position: relative;
    order: 1;
    padding-top: 44px;
    padding-bottom: 0;
    margin-bottom: 60px;
    border: 2px solid $grey-light;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-top: 39px;
    padding-bottom: 10px;
    margin-bottom: 67px;
  }
}

.competition-form__system {
  padding-top: 0;
  padding-bottom: 3px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 35px 58px 11px;
    margin-bottom: 70px;
    border: 2px solid $grey-light;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    padding: 37px 0 15px 75px;
    box-sizing: border-box;
  }
}


.competition-form__emotions {
  padding: 0;

  @media (min-width: $tablet-width) {
    position: relative;
    order: 3;
    padding: 44px 58px 42px;
    margin-bottom: 22px;
    border: 2px solid #f2f2f2;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 0;
    padding-top: 35px;
    margin-bottom: 71px;
  }
}

.competition-form__button {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 10px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.competition-form__legend {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    order: 5;
    margin: 0;
    padding-top: 12px;
  }
}

.competition-form__send {
  order: 10;
  margin-top: 50px;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.competition-form__note {
  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.competition-form__note--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.competition-form__div {
  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }
}
