.competition-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.competition-form__item {
  border: none;

  @media (min-width: $desktop-width) {
    margin: 0;
    box-sizing: border-box;
    padding-top: 20px;
  }
}

.competition-form__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: inherit;
  color: $pink;
}

.competition-form_sup {
  color: $pink;
}

.competition-form__user {
  @media (min-width: $tablet-width) {
    order: -1;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 435px;
    box-sizing: border-box;
  }
}

.competition-form__achievements {
  background-color: $grey-light;
  margin: 5px 0 35px 0;

  @media (min-width: $tablet-width) {
    order: 2;
    border: 2px solid $grey-light;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.competition-form__contacts {
  @media (min-width: $tablet-width) {
    order: 1;
    border: 2px solid $grey-light;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.competition-form__system {
  background-color: $grey-light;
  margin: 5px 0 35px 0;

  @media (min-width: $tablet-width) {
    order: 0;
    border: 2px solid $grey-light;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 435px;
    box-sizing: border-box;
  }
}

.competition-form__emotions {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.competition-form__button {
  width: 100%;
  box-sizing: border-box;
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.competition-form__legend {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    order: 5;
  }
}
