.effect-filter__button {
  border: none;
  background-color: $secondary-color;

  @media (min-width: $tablet-width) {
    padding-top: 26px;
    padding-bottom: 16px;
    padding-left: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 6px;
    padding-bottom: 3px;
    margin-left: 7px;
  }
}

.effect-filter__svg {
  fill: #b5b9be;

  &--active {
    fill: $pink;
  }

  &:hover {
    fill: #8d949b;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    fill: $pink;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
    height: 48px;
  }

  &--contrast {
    @media (min-width: $tablet-width) {
      width: 16px;
      height: 16px;
    }

    @media (min-width: $desktop-width) {
      width: 34px;
      height: 34px;
    }
  }
}

.effect-filter__slider {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    height: 1px;
    bottom: 0;
    left: -20px;
    background: #dddfe0;

    @media (min-width: $tablet-width) {
      width: 275px;
      left: -36px;
    }

    @media (min-width: $desktop-width) {
      width: 410px;
      left: -43px;
    }
  }
}

.effect-filter__range {
  width: 202px;
  height: 2px;
  margin: 36px 0 32px 18px;
  box-sizing: border-box;
  background-color: $grey;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 38px 0 32px 18px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
    margin: 39px 0 31px 47px;
  }

  &--active {
    @media (max-width: $mobile-width-only) {
      display: block;
      width: 240px;
    }
  }
}

.effect-filter__toggle {
  position: absolute;
  top: 30px;
  right: 33px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid $pink;
  background-color: $grey-light;

  &:active {
    background-color: $pink;
  }

  &--fill,
  &--contrast {
    display: none;
  }

  @media (min-width: $tablet-width) {
    top: 32px;

    &--crop {
      right: 44px;
    }

    &--fill {
      display: block;
      right: 166px;
    }

    &--contrast {
      display: block;
      right: 93px;
    }
  }

  @media (min-width: $desktop-width) {
    top: 36px;

    &--crop {
      right: 200px;
    }

    &--fill {
      right: 26px;
    }

    &--contrast {
      right: 112px;
    }
  }
}
