.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 52px;
  }
}

.input__contacts {
  @media (min-width: $tablet-width) {
    position: relative;
    margin-bottom: 23px;

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 19px;
      background-color: $grey-middle;
    }
  }

  @media (min-width: $desktop-width) {
    width: 375px;
    margin-bottom: 0;
    box-sizing: border-box;
  }
}


.input__label {
  display: block;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  color: $pink;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 21px;
  }
}

.input__label--contacts {
  @media (min-width: $tablet-width) {
    order: 1;
    padding: 0 19px;
  }
}

.input__control {
  box-sizing: border-box;
  padding: 15px 20px;
  margin-bottom: 15px;
  border: 2px solid $grey-light;
  border-radius: 2px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin-bottom: 0;
  }
}

.input__control--phone,
.input__control--mail {
  @media (min-width: $tablet-width) {
    order: 0;
    width: 100%;
    margin-bottom: 12px;
  }
}

.input__contacts--phone {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      background-image: url("../img/icon-phone.svg");
    }
  }
}

.input__contacts--mail {
  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      background-image: url("../img/icon-mail.svg");
    }
  }
}
