.logo {
  &--header {
    display: block;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    @media (min-width: $tablet-width) {
      padding-top: 26px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 0;
      padding-left: 0;
    }
  }
}

.logo__mobile,
.logo__tablet,
.logo__desktop {
  fill: $white;

  &:hover {
    fill: $pink;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

.logo__tablet,
.logo__desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .logo__tablet {
    display: block;
  }

  .logo__mobile,
  .logo__desktop {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .logo__desktop {
    display: block;
  }

  .logo__mobile,
  .logo__tablet {
    display: none;
  }
}

.logo__footer {
  fill: $grey;
}
