.map {
  position: relative;
  height: 200px;
  width: 100%;
  box-sizing: border-box;
  background-color: $grey-light;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center calc(50% - 220px);
  font-size: 0;
  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    height: 374px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center calc(50% - 100px);
    background-size: 100%;

    &::before {
      height: 90px;
    }

    &::after {
      top: 193px;
      right: 47%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    height: 505px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center calc(50% - 40px);

    &::before {
      height: 200px;
      background-size: 100% 107px;
    }

    &::after {
      top: 266px;
      right: 48%;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
      background-size: cover;
    }
  }
}
