.personal-photo {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-bottom: 25px;
  }
}

.personal-photo__slogan {
  display: block;
  text-align: center;
  margin: 0;
  padding: 23px 10px;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 457px;
    margin: 0 auto;
    padding: 35px 50px 68px;
    font-size: 18px;
  }
}

.personal-photo__choice {
  padding-bottom: 25px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 54px;
  }
}

.personal-photo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0 80px;
  }
}

.personal-photo__right {
  @media (min-width: $tablet-width) {
    width: 280px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    box-sizing: border-box;
  }
}

.personal-photo__filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 154px;
  }
}

.personal-photo__image {
  display: block;
  padding-top: 20px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    width: 300px;
    box-sizing: border-box;
    margin: 0;
  }
}

.personal-photo__effect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 30px 0 18px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    width: 30px;
    margin: 0;
    padding-right: 25px;
  }
}

.personal-photo__button-group {
  @media (min-width: $tablet-width) {
    margin-left: 5px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }
}

.personal-photo__button {
  width: 100%;
  box-sizing: border-box;
  padding: 17px;
  margin-bottom: 12px;
  border: 3px solid rgba($border-top, 0.1);
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: rgba($border-top, 0.1);
  background-color: $grey-light;

  &:hover {
    border: 3px solid rgba($border-top, 0.3);
    color: rgba($border-top, 0.3);
  }

  &:active {
    color: rgba($border-top, 0.1);
    background-color: #b5b9be;
    border: 3px solid #b5b9be;
  }

  @media (min-width: $tablet-width) {
    width: 260px;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 185px;
    box-sizing: border-box;
  }

  &--download {
    border: 3px solid $pink;
    color: $pink;

    &:hover {
      background-color: $pink;
      border: 3px solid $pink;
      color: $white;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.personal-photo__slider {
  display: flex;
  flex-direction: column;
  padding-right: 18px;
}
