.photo-block {
  display: flex;
  flex-direction: column;
}

.photo-block__slogan {
  display: block;
  text-align: center;
  padding: 45px 0 50px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 500px;
    box-sizing: border-box;
    padding: 94px 0 75px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    padding-bottom: 85px;
  }
}
