.range__list--desabled {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.range__item {
  margin-left: 38px;
  margin-bottom: 34px;
  width: 240px;
}

.range__line {
  border: 1px solid #dddfe0;
  margin: 0 auto 36px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
