.rate {
  width: 100%;
  background-color: $grey-light;
}

.rate__item {
  overflow: hidden;
  width: 100%;

  @media (min-width: $tablet-width) {
    overflow: visible;
  }
}

.rate__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 620px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.rate__title {
  position: relative;
  min-width: 278px;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 20px;
  background-color: $grey;

  &:nth-child(1) {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 25%;
  }
}

.rate__function {
  background-color: $white;
  font-size: inherit;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;

  &:nth-child(1) {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}


.rate__name {
  margin: 0;
  font-size: inherit;
  line-height: 30px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
}

.rate__price {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: $white;
  font-weight: lighter;
}
