.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey-light;
    padding-top: 130px;
    padding-bottom: 112px;
  }
}

.research__slogan {
  margin: 0 0 10px 0;
  padding-left: 50%;
  padding-right: 101px;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $desktop-width) {
    padding-left: 368px;
    margin-bottom: 25px;
    line-height: 30px;
  }
}

.research__wrapper {
  padding-left: 50%;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    padding-left: 370px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__text {
  width: 310px;
  box-sizing: border-box;
  margin: 0 0 10px 0;
  padding-right: 13px;

  @media (min-width: $desktop-width) {
    width: 570px;
    box-sizing: border-box;
    padding-right: 40px;
    margin-bottom: 30px;
  }
}

.research__link {
  color: $pink;
  text-decoration: underline;
}
