.research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: 50%;
    padding-left: 10px;
    padding-top: 90px;
    padding-bottom: 95px;
    text-align: left;
  }
}

.research__slogan {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
}

.research__text {
  width: 310px;
  box-sizing: border-box;
  padding-right: 13px;
  font-size: 14px;
  line-height: 24px;
}

.research__link {
  font-size: 14px;
  line-height: 24px;
  color: $pink;
  text-decoration: underline;
}
