.textarea__control {
  width: 100%;
  box-sizing: border-box;
  min-height: 200px;
  padding: 17px 19px 16px;
  border: 2px solid $grey-light;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
  }

  @media (min-width: $desktop-width) {
    min-height: 130px;
    margin-bottom: 38px;
    padding-top: 17px;
  }
}
