.user-photo {
  display: flex;
  flex-direction: column;
}

.user-photo__slogan {
  display: block;
  text-align: center;
  padding: 40px 5px;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 500px;
    box-sizing: border-box;
  }
}

.user-photo__image--todey {
  width: 100%;
  margin: 0;
  background-color: $grey;
}

.user-photo__item {
  margin: 0 auto;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    flex-basis: 300px;
  }
}

.user-photo__comment {
  padding: 18px 19px 20px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  background-color: $grey-light;
}

.user-photo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-photo__author {
  font-weight: bold;
  color: inherit;
}

.user-photo__time-counter {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.user-photo__like {
  text-transform: uppercase;
  color: $pink;
}
