.user-photo {
  margin: 0 auto;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    width: 300px;
    box-sizing: border-box;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    margin-top: 27px;
    padding-bottom: 0;
  }

  &--today {
    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      margin-bottom: 27px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 0;
      margin-bottom: 19px;
      margin-top: 0;
    }
  }
}

.user-photo__image {
  display: block;
  line-height: 0;

  &--today {
    display: block;

    @media (min-width: $tablet-width) {
      height: 509px;
    }
  }
}

.user-photo__inscription {
  position: relative;

  &::before {
    content: "Панорама дня";
    position: absolute;
    top: 0;
    right: 0;
    width: 140px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    background-color: $pink;
  }

  @media (min-width: $tablet-width) {
    &::before {
      top: 57px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      top: 56px;
      right: 2px;
    }
  }
}

.user-photo__image-mobile {
  width: 100%;
}

.user-photo__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.user-photo__comment {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 18px 19px 20px;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  background-color: $grey-light;

  @media (min-width: $tablet-width) {
    height: 110px;
    padding: 23px 28px 20px;
  }

  &--today {
    height: auto;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.user-photo__title {
  display: flex;
  justify-content: flex-start;
  order: 0;
}

.user-photo__author {
  padding-right: 5px;
  font-weight: bold;
  color: inherit;
}

.user-photo__time-counter {
  font-size: 12px;
  line-height: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.user-photo__text {
  width: 100%;
  margin: 0 0 8px 0;


  &--today {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }
}

.user-photo__vanity {
  display: flex;
  flex-direction: row;
  margin-top: auto;

  &--today {
    @media (min-width: $tablet-width) {
      order: 1;
      margin-left: auto;
    }
  }
}

.user-photo__like-heart {
  padding-right: 15px;
  vertical-align: middle;
  color: $pink;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-right: 0;
    margin-left: auto;
  }

  &--today {
    @media (min-width: $tablet-width) {
      padding-right: 0;
      padding-left: 20px;
      margin-left: 0;
    }
  }
}

.user-photo__like {
  margin-top: auto;
  font-size: 12px;
  text-transform: uppercase;
  color: $pink;
}
